body {
    background-color: #202020;
    color: white;
    margin:0;
}

h1 {
    color: white;
    size: 36pt;
    font-family: 'Orbitron', sans-serif;
}

h2 {
    color: white;
    font-family: 'Orbitron', sans-serif;
    font-size: 2em;
}


/**header made from devcamp**/
.skewed-header{
	position:relative;
	height: 400px;
	overflow: hidden;
    
}
.skewed-header .header-bg{
    
	position:absolute;
	top:0;
	bottom:0;
	right:0;
	left:0;
	height: 100%;
	width:100%;
	background-repeat: no-repeat;
	background-size: 100%;
	transform: skewY(6deg);
    transform-origin: top right;
	filter:brightness(50%);
    z-index: -1;
}