nav {
    margin: 0px 100px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: 75px;
}

.main-links {
    display: flex;
    align-items: flex-end;
}

.nav-button {
    border: 1px solid white;
    width: 130px;
    height: 40px;
    margin: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 0px;
    border-radius: 3px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    transition: 0.3s;
}


nav a:link {
    text-decoration: none;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.nav-button:hover {
    background-color: white;
    color: #202020;
    border: 1px solid white;
    border-bottom: 0px;
    height: 50px;
    margin-bottom: 2px;
    box-shadow: 0px 2px 2px rgba(300, 300, 300, 100);
}

nav a:visited {
    color: white;
}

.gradient-button a {
    background-image: linear-gradient(-60deg, #0487D9, #55C2A3, #FFC363, #EE05F2);
    background-size: 320px 320px;
    font-family: 'Space Mono', monospace;
    color: #fff;
    border: none;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 30px;
    transition: background-position 0.7s ease;
    box-shadow: 0px 0px 60px rgba(0, 0, 0, .6);
}
    
.gradient-button a:hover {
    background-position: right center;
}

#active-tab {
    background-color: white;
    color: #202020;
    border: 1px solid white;
    border-bottom: 0px;
    border-radius: 3px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    height: 50px; 
    margin-bottom: 2px;
    box-shadow: 0px 2px 2px rgba(300, 300, 300, 100);
}