
.content{
    margin: 0 10% 0 10%;
}
.content ul{
    list-style-type: circle;
}
a{
    color:aquamarine;
}
fieldset{
    display:flex;
    justify-content: space-between;

}
fieldset .image{
    padding:10px;
}
